
<div>
  <h1>Bienvenida a Nightaksee</h1>
  <div class="main">
      <!--Button to add taxi from form-->
      <button type="button" class="btn btn-primary" (click)="askDataTaxi()">Agregar Taxi</button>
      <!--Button to show taxis-->
      <button type="button" class="btn btn-info" (click)="showDataTaxi()">Mostrar taxis</button>
      <!--Button to add carrera-->
      <button type="button" class="btn btn-primary" (click)="askDataCarrera()">Agregar Carrera</button>

      <!--div with each taxi-->
      <div class="taxi" *ngFor="let taxi of taxis">
        <h2>Taxi {{taxi.id}}</h2>
        <div class="form-group">
          <p id="description">
            Descripción: {{taxi.description}}
          </p>
        </div>
        <div>
          <!--Mostrar todas las carreras del taxi -->
          <div class="carrera" *ngFor="let carrera of taxi.carrerasProgramadas">
              <div class="form-group">
                <label for="">Recogida:</label>
                <input type="text" class="form-control" id="recogida" value="{{carrera.recogida}}">
              </div>
              <div class="form-group">
                <label for="">Destino:</label>
                <input type="text" class="form-control" id="destino" value="{{carrera.destino}}">
              </div>
        <button type="button" class="btn btn-danger" (click)="deleteCarrera(carrera)">Eliminar Carrera</button>
  </div>
</div>
<router-outlet></router-outlet>
